.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0px;
  z-index: 999;
}

.header-left {
  display: flex;
}

.logo {
  color: rgb(50, 130, 200);
  margin-right: 10px;
}

.header-search {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  color: gray;
  background-color: #eef3f8;
}

.header-search > input {
  border: none;
  outline: none;
  background: none;
  display: none;
}

.display-block {
  display: block !important;
  width: 400px !important;
}
.display-none {
  display: none !important;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 74%;
}

/* Logout Screen */
.logout-option {
  width: 240px;
  position: absolute;
  top: 65px;
  right: 2%;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.logout-option > a {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: flex-start;
  text-decoration: none;
  color: black;
}

.logout-option > a:hover {
  background-color: #eef3f8;
}
.logout-option > a > div {
  text-align: left;
}
.logout-option > a h3 {
  font-size: 15px;
}
.logout-option > a p {
  font-size: 12px;
}

.logout-option > hr {
  background-color: rgb(192, 192, 192);
  height: 0.5px;
  border: none;
}
.logout-option > button {
  width: 90%;
  color: rgb(249, 59, 59);
  border: 2px solid rgb(249, 59, 59);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 10px;
  background-color: white;
}
.logout-option > button:hover {
  background-color: rgb(249, 59, 59);
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .header-right {
    width: auto;
  }
  .header-search > input {
    display: block;
  }
  .logout-option {
    right: 10%;
  }
}

@media only screen and (min-width: 880px) {
  .header-left {
    margin-right: 5%;
  }
  .logout-option {
    right: 20%;
  }
}
